@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin-top: 0;
    padding: 0;
    border: 0;
}

body{
    font-family: "Roboto";

}

.logo{
    width: 90.6px;
    height: 26.9px;
    margin-left: 231px;
    margin-top: 36.1px;
    align-self: flex-end;
}

header{
    text-align: center;
    margin-bottom: 36px;
}

.links a{
    margin: 0 30px;
    color: black;
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;

}

.links a:hover{
    font-weight: bold;
    transition: 200ms;
}

main{
    margin-left: 230px;
    margin-right: 230px;
}

.intro-block{
    display: grid;
    grid-template-columns: 1fr;
    background-color: #FBDFDB;
    border-radius: 30px;
    height: 366px;
    width: 940px;
    position: relative;
    margin-bottom: 50px;
}

.intro-block img{
    width: 216px;
    height: 300px;
    position: absolute;
    margin-left: 624px;
    margin-top: 66px;
    margin-right: 10px;
}

h1{
    font-size: 32px;
    margin: 116px auto 10px 60px;
    padding-bottom: 10px;
}

.intro-block p{
    font-size: 18px;
    margin-left: 60px;
    opacity: 0.7;
    color: #000000;
    line-height: 28px;
    margin-bottom: 117px;
    display: grid;
    grid-template-columns: 1fr;
    width: 316px;
    height: 84px;
}

h2{
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

.receitas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.receita{
    cursor: pointer;
}

.receita img{
    width: 300px;
    height: 140px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.nomeReceita{
    font-size: 18px;
    font-weight: normal;
    line-height: 21px;
}

.criadorReceita{
    font-size: 14px;
    color: #777777;
    line-height: 16px;
    margin-bottom: 30px;
    margin-top: -10px
}

footer .rectangle{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: 62px;
    background-color: #EEEEEE;
    position: absolute;
}

footer p{
    font-size: 14px;
    color: #999999;
    text-align: center;
    padding-top: 23px;
    margin-bottom: 23px;
}


.paragrafo h2{
    font-size: 24px;
    margin-top: 14px;
    line-height: 28px;
    margin-bottom: 20px;
}

.aboutContent{
    display: grid;
    grid-template-columns: 1fr;
    width: 940px;
    text-align: justify;
    margin-bottom: 30px;
    color: #444444;
    font-size: 18px;
    line-height: 28px;
}

.paragrafo h3{
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 24px;
}

/*---MODAL.INACTIVE---*/

.modal-overlay{
    background-color: #000000;
    width: 100%;
    margin-left: -230px;
    height: 100%;
    position: fixed;
    top: 0;
    visibility: hidden;

}

.modal-overlay.active{
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.6);

}



.modal{
    background-color: white;
    height: 413px;
    width: 660px;
    margin-top: 10%;
    margin-left: 370px;
    border-radius: 16px;
    opacity: 1;
}

.modal-content img{
    width: 600px;
    height: 200px;
    border-radius: 15px;
    margin: 30px;
}

.modal-info .nomeReceitaModal{
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 5px;
    height: 28px;
}

.modal-info .criadorReceitaModal{
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #777777;
    margin-bottom: 60px;
}

.modal .close-modal{
    font-size: 16px;
    color: #999999;
    line-height: 19px;
    text-align: center;
}

.modal .close-modal:hover{
    opacity: 0.3;
    transition: 200ms;
    cursor: pointer;
}